extends layout

block content
  h1= title
  form(method="post" action="/post/add")
    div
      label 名前
        input(type="textbox" name="name")
    div
      label 本文
        input(type="textbox" name="text")
    button(type="submit") 投稿
  h2 投稿一覧
  div(class="posts")
    each post in posts 
      div(class="post")
        div 名前:#{post.name}
        div 本文:#{post.text}